<div class="grid gap-4 grid-cols-3">
    @for (board of boardList; track board) {
        <!-- <a [routerLink]="'/' + SEGMENT_TO_BOARD_DETAIL + '/' + board.id"> -->
            <div class="backdrop-blur-sm bg-white/30 group aspect-square grid-item border border-slate-100 rounded-xl bg-origin-content" style="background-image: url({{board.previewUrl}});">
                <a [routerLink]="'/' + SEGMENT_TO_BOARD_DETAIL + '/' + board.id">
                <div class="h-full w-full transition-all group-hover:scale-75 relative rounded-xl overflow-hidden bg-origin-content" style="background-image: url({{board.previewUrl}});">
                    <div class="absolute bottom-0 left-0 p-2 w-[100%] text-sm bg-black bg-opacity-50 text-white">{{board.name}} <br> <span class="text-zinc-400">at {{ board.timeStamp | date:'short' }}</span></div>
                </div>
            </a>
            </div>
        <!-- </a> -->
    }
</div>