<section>
   <div class="container">
     <div class="row">
       <div class="col-sm-12">
         <div class="col-sm-12 col-sm-offset-1 text-center">
           <div class="bg-img">
             <h1 class="text-center">404</h1>
           </div>
           <div class="content">
             <h3 class="h2">Page not found!</h3>
             <p>are you sure you want to be here?</p>
             <a href="/" class="link">Go to Home</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>