<div class="flashcard-container">
  @if (questionData) {
    <div class="flashcard">
      <h2 class="question">{{ questionData.question }}</h2>
      
      <div class="options">
        <button
          *ngFor="let option of questionData.options; let i = index"
          (click)="selectAnswer(i)"
          [class.selected]="selectedAnswerIndex === i"
          [class.correct]="isAnswerCorrect && selectedAnswerIndex === i"
          [class.incorrect]="!isAnswerCorrect && selectedAnswerIndex === i">
          {{ option.word }}
        </button>
      </div>
  
      <div class="feedback" *ngIf="selectedAnswerIndex !== -1">
        <p *ngIf="isAnswerCorrect" class="correct-message">Correct! Loading next question...</p>
        <p *ngIf="isAnswerCorrect === false" class="incorrect-message">Try again!</p>
      </div>
    </div>
  } @else {
    <div class="flashcard-container">Loading...</div>
  }
</div>