<div
  class="toolbar"
  [class.expanded]="isExpanded"
  (mouseenter)="expand()"
  (mouseleave)="collapse()"
>
  <div class="tool-item active">
    <div
      class="circle"
      [style.background-color]="selectedColor"
      (click)="toggleColorPicker()"
    >
      @if (showColorPicker) {
      <div class="color-picker">
        @for (color of colors; track $index) {
        <div
          class="color-option"
          [style.background-color]="color"
          (click)="selectColor(color)"
        ></div>
        }
      </div>
      }
    </div>
  </div>
  <default-tool-icon></default-tool-icon>
  <eraser-tool-icon></eraser-tool-icon>
  <pencil-tool-icon></pencil-tool-icon>
  <text-input-tool-icon></text-input-tool-icon>
  <moving-arrow-tool-icon></moving-arrow-tool-icon>
  <workflow-board-tool-icon></workflow-board-tool-icon>
</div>
