::ng-deep .topbar.minimal {
    .main-logo {
        max-height: 20px;
    }
    
}

::ng-deep .topbar.expanded {
    .main-logo {
        max-height: 80px;
    }
}

.topbar-content-parent {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hides the scrollbar of the parent */
}