/* color-board.component.css */
@import '../../variables';

.color-board {
    display: flex;
    gap: 5px;
  }
  
  .color-box {
    width: $icon_standard_size;
    height: $icon_standard_size;
    cursor: pointer;
  }
  
  .selected {
    border: 1px solid black;
  }
  