<topbar #topBar>
    <div class="flex justify-between">
        <ui-dropdown (itemSelected)="onToolSelected($event)" [selectedId]="selectedToolId" [items]="supportedDrawingTools" label="Tools"></ui-dropdown>
        @if (isSaved) {
            <icon-bookmarked style="cursor: pointer" (click)="toggleSavedStatus()"></icon-bookmarked>
        } @else {
            <icon-bookmark style="cursor: pointer" (click)="toggleSavedStatus()"></icon-bookmark>
        }
    </div>
</topbar>
<div style="cursor: url('/assets/marker.png'), auto;" id="{{KONVA_CONTAINER}}"></div>
<chat-box></chat-box>