<a [href]="authUrl">Connect Notion</a>
<table class="fancy-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Icon</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    @for (table of registeredTables; track $index) {

    
    <tr>
      <td>{{ table.id }}</td>
      <td>{{ table.name }}</td>
      <td>
        @if (table.icon) {
          <img [src]="table.icon" alt="Icon" class="icon">
        } @else {
          <span class="empty-cell">No Icon</span>
        }
       
      </td>
    </tr>
  }
  </tbody>
</table>
