@if (debugEnabled) {
   <div class="fixed top-0 border-4 left-0 w-full h-full z-50 bg-transparent pointer-events-none flex  border-blue-500">
        <p class="text-blue-500 absolute top-0 right-8 text-lg font-semibold">Debug Mode!</p>
        <div class="w-[30%] h-[100%] absolute top-10 right-1">
            @for (item of realTimeEvents; track $index) {
               <pre class="text-xs text-gray-500 whitespace-pre-wrap  break-all  p-1 rounded">{{getEventDisplayString(item)}}</pre>
            }
        </div>
    </div>
}