<header id="header-1" class="header">
   <nav class="header-nav">
     <div class="search-button">
       <a href="#" class="search-toggle" data-selector="#header-1"></a>
     </div>
     <ul class="menu">
       <li><a href="/">Trang chu</a></li>
       <li><a href="/bai-viet/ca-nhan">Ca Nhan</a></li>
       <li><a href="/bai-viet/gia-ca">Gia ca</a></li>
       <li><a href="/bai-viet/ve-chung-toi">Ve chung toi</a></li>
       <li><a href="/bai-viet/lien-he">Lien he</a></li>
     </ul>
     <form action="" class="search-box">
       <input type="text" class="text search-input" [(ngModel)]="searchTerm" placeholder="Go de tim kiem..." [enterKeyHint]="onSearch()" />
     </form>
   </nav>
 </header>
